
/* css */


#title{
    display: flex;
    justify-content: space-between;
    margin: 0 10px;
}

.left-side{
    width: 50%;
    height: 100%;
    background-color: aliceblue;
    border-right: 1px solid black;
}