
/* css */
#carton-base {
  background-color: #0F0BCD;
  color: white;
  text-align: center;
  font-size: 90px;
  position: relative;
  left: 227px;
  top: -33.5px;
  width: 244px;
  height: 432px;
}

#carton-middle {
  background-color: #D9D9D9;
  transform: rotate(0.125turn);
  position: relative;
  left: 262.75px;
  top: 52.816px;
  width: 172.62px;
  height: 172.62px;
}

body {
    background-image: url("https://img.freepik.com/premium-vector/unlimited-vector-cow-spots-texture-milk-dots-wallpaper-cute-animal-illustration-pattern_665222-93.jpg?w=2000");
}

#title {
    display: flex;
    justify-content: space-between;
    margin: 0 10px;
    color: lightblue;
}

.left-side,
.right-side {
    width: 50%;
    height: 100%;
    
}

.left-side{
    border-right: 1px solid black;
}

.question {
    border-radius: 10px;
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
    background-color: white;
}

#carton-top {
  background-color: #0F0BCD;
  position: relative;
  left: 343px;
  top: 23px;
  width: 12px;
  height: 45px;
}

form{
    margin-left: 10px;
}
.page {
    display: flex;
    justify-content: space-between;
    z-index: 10s;
}

.form-control {
    margin: 10px;
    width: 80%;
}

.upper-head, .lower-head {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: gray;
}

.lower-head{
    position: relative;
    clip-path: polygon(100% 21%, 44% 48%, 100% 74%);
    background-color: white;
    right: 101px;
    transform: rotate(180deg);
}

.head{
    display: flex;
    justify-content: center;
    padding-left: 100px;
    margin-bottom: -20px;
    width: 100%;
    
}

.body{
    display: flex;
    justify-content: center;
    
}

.left-arm, .right-arm, .torso{
    background-color: gray;
}

.left-arm,.right-arm{
    height: 100px;
    width: 20px;
}
.right-arm{
    transform: rotate(35deg);
}
.friend{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.left-arm{
    transform: rotate(-35deg);
}

.torso{
    height: 100px;
    width: 25px;
    margin: 0 10px;
   
}
