
/* css */
#carton-base {
  background-color: #0F0BCD;
  position: relative;
  left: 227px;
  top: -45px;
  width: 244px;
  height: 432px;
}

#carton-middle {
  background-color: #D9D9D9;
  transform: rotate(0.125turn);
  position: relative;
  left: 262.75px;
  top: 40.134px;
  width: 172.62px;
  height: 172.62px;
}

#title{
    display: flex;
    justify-content: space-between;
    margin: 0 10px;
}

.left-side{
    width: 50%;
    height: 100%;
    background-color: aliceblue;
    border-right: 1px solid black;
}

.question{
    border-radius: 10px;
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
}
#carton-top {
  background-color: #0F0BCD;
  position: relative;
  left: 343px;
  top: 23px;
  width: 12px;
  height: 45px;
}
